*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background-color:aquamarine;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 50%;
    background-color: orchid;
}
.input{
    padding-left: 10px;
    height: 30px;
    width: 70%;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}

.escondido{
    display: none;
}
.error{
    color: rebeccapurple;
    font-family: sans-serif;
    font-weight: bold;
}

button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}
button:hover{
    cursor:pointer;
    background-color: bisque;

}

